body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: white;
  color: black;
}

main {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 24px 64px;
}

h1.about-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 40px 0 24px;
}

.hero-image {
  width: 100%;
  background-color: #d1d5db;
  border-radius: 6px;
  aspect-ratio: 4 / 2.3;
  margin-bottom: 48px;
}

.logo-center {
  display: block;
  margin: 0 auto 48px;
  padding: 8px 24px;
  width: 200px;
}

h2.main-heading {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
}

p.main-paragraph {
  font-size: 14px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 48px;
  line-height: 1.4;
}

h3.team-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 48px;
}

.team-images {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 48px;
}

.team-image {
  border-radius: 6px;
  flex: 1 1 0;
  aspect-ratio: 4 / 3;
}

section.testimonial {
  max-width: 720px;
  margin: 0 auto 64px;
}

h4.testimonial-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 24px;
}

.testimonial-content {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.testimonial-avatar {
  background-color: #d1d5db;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
}

.testimonial-text {
  font-size: 14px;
  line-height: 1.3;
}

.testimonial-text p:last-child {
  font-weight: 600;
  margin-top: 12px;
}

@media (max-width: 480px) {

  .team-images {
    flex-direction: column;
  }

  .team-image {
    width: 100%;
    aspect-ratio: auto;
    height: 160px;
  }

  .testimonial-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testimonial-avatar {
    margin-bottom: 16px;
  }

  .testimonial-text p:last-child {
    margin-top: 8px;
  }
}