<header class="site-header">
  <a href="{base_path}index.html" class="site-header__logo-link">
    <img src="{base_path}src/img/primaryLogo.svg" class="nav-logo-img" alt="diNaiki Logo" />
  </a>
  <nav class="main-nav">
    <a href="{base_path}index.html">Home</a>
    <a href="{base_path}pages/sneakers.html">Sneakers</a>
    <a href="{base_path}pages/about.html">About Us</a>
    <a href="{base_path}pages/contact.html">Contact</a>
  </nav>
  <div class="header-actions">
    <a href="#" class="header-actions__link" aria-label="Search"><i class="fas fa-search"></i></a>
    <a href="#" class="header-actions__link" aria-label="Cart"><i class="fas fa-shopping-cart"></i></a>
    <a href="{base_path}pages/profile.html" class="header-actions__link" aria-label="User Account"><i
        class="fas fa-user"></i></a>
  </div>
</header>