<header class="site-header">
  <div>
    <a href="../../">
      <img src="../../src/img/primaryLogo.svg" class="nav-logo-img" />
    </a>
  </div>
  <nav class="main-nav">
    <a href="../../">Home</a>
    <a href="../../pages/about">About Us</a>
    <a href="../../pages/contact">Contact</a>
  </nav>
  <div class="header-actions">
    <button aria-label="Search"><i class="fas fa-search"></i></button>
    <button aria-label="Cart"><i class="fas fa-shopping-cart"></i></button>
    <a href="../../pages/profile"><button aria-label="User Account"><i class="fas fa-user"></i></button></a>
  </div>
</header>